<div class="building-img w-full">
    <%= image_tag @building.cover_image_url%>
  </div>

<hr class="h-px my-8 bg-gray-800 border-0 dark:bg-gray-900">

<section>
  <h3 class="text-3xl font-bold text-gray-700 mb-2">
    Apartments for Rent
  </h3>
  <p class="mb-4">
    Please note that apartment availability is aways changing. Some of these apartments may no longer be available, while others may have been vacated recently
  </p>

  <% if @building.building_policies.present? %>
    <div class="mx-auto w-full flex">
      <div class="min-w-full grid lg:grid-cols-2 gap-y-6 gap-x-40">
        <% @building.apartments.each do |apartment| %>
          <%= render "apartment", apartment: apartment %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render "empty_apartments"%>
  <% end %>
</section>

<hr class="h-px my-8 bg-gray-800 border-0 dark:bg-gray-900">

<section>
  <h3 class="text-3xl font-bold text-gray-700 mb-4">
    Building Policies
  </h3>
  <% if @building.building_policies.present? %>
    <%= render "building_policies", building_policies: @building.building_policies %>
  <% else %>
    <%= render "empty_policies"%>
  <% end %>
</section>